@import url('fonts.css?z=1486478439337');

/*
  === GENERAL TABLE SETTINGS ===
*/
.spicy-datatable {
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  font-size: 0.875rem;
  text-align: left;
  border-spacing: 0;
  margin-top: 40px;
}

.react-table {
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0 auto;
  background: #fff;
  font-size: 0.875rem;
  text-align: left;
  border-spacing: 0;
  margin-top: 40px;
}

.spicy-datatable>tbody>tr>td,
.spicy-datatable>tfoot>tr>td,
.spicy-datatable>thead>tr>th {
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-top: 1px solid #ddd;
  word-break: initial;
  vertical-align: middle;
}

.react-table>tbody>tr>td,
.react-table>tfoot>tr>td,
.react-table>thead>tr>th {
  box-sizing: border-box;
  height: 50px;
  padding: 0 20px;
  border: none;
  border-top: 1px solid #ddd;
  word-break: initial;
  vertical-align: middle;
}

.spicy-datatable>tbody>tr {
  transition: 0.25s all;
}

.react-table>tbody>tr {
  transition: 0.25s all;
}

.spicy-datatable>tbody>tr:hover {
  background: #ececec;
}

.react-table>tbody>tr:hover {
  background: #ececec;
}

.spicy-datatable>thead>tr>th {
  border-top: 0;
}

.react-table>thead>tr>th {
  border-top: 0;
}

.spicy-datatable>tbody>.spicy-datatable--selected-row {
  background: #ececec;
}

/*
    === ENTRY COUNTER AT BOTTOM ===
  */

.spicy-datatable-counter {
  text-align: left;
  font-size: 12px;
  padding: 0 20px;
  width: 50%;
  float: left;
  position: relative;
  top: 15px;
}

.react-table-counter {
  text-align: left;
  font-size: 12px;
  padding: 0 20px;
  width: 50%;
  float: left;
  position: relative;
  top: 15px;
}

/*
    === PAGINATION SETTINGS ===
  */

.spicy-datatable-pagination-root,
.react-table-pagination-root {
  width: 50%;
  position: relative;
  margin: 1rem auto;
  overflow: auto;
}

.spicy-datatable-pagination-list,
.react-table-pagination-list {
  list-style: none;
  display: inline-block;
  position: relative;
  background: #fff;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button,
.react-table-pagination-list .react-table-pagination-button {
  font-size: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  float: left;
  color: #ccc;
  height: 2.5rem;
  width: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 100%;
  transition: 0.25s all;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button-elipsis:hover {
  background: #fff !important;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button.active,
.react-table-pagination-list .react-table-pagination-button.active {
  background: #ABABAB;
  color: #fff;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button:hover,
.react-table-pagination-list .react-table-pagination-button:hover {
  background: #ABABAB;
  color: #fff;
}

.spicy-datatable-pagination-list .spicy-datatable-pagination-button-elipsis:hover {
  background: #fff !important;
  color: #ccc;
  cursor: default;
}

/*
    === TOP OPTIONS ===
  */

.spicy-datatableoptions-search,
.react-datatableoptions-search {
  text-align: right;
  float: right;
}

.spicy-datatableoptions-sizepicker {
  float: left;
  text-align: left;
  cursor: pointer;
}

.spicy-datatableoptions-sizepicker--selectfield {
  margin: 0 5px;
}

.spicy-datatableoptions-search--input,
.react-tableoptions-search--input {
  margin-left: 10px;
}

.spicy-datatableoptions-search--input,
.spicy-datatableoptions-search--label,
.react-tableoptions-search--label,
.react-tableoptions-search--input {
  cursor: pointer;
}

.spicy-datatableoptions-export--button-wrapper {
  float: left;
  clear: both;
}

.spicy-datatableoptions-export--button {
  cursor: pointer;
}

.spicy-datatableoptions-sizepicker {
  margin-left: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: none;
}

.spicy-datatableoptions-search,
.react-tableoptions-search--input {
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.spicy-datatableoptions-search--input,
.react-tableoptions-search--input {
  border: 1px solid #807d7d;
  border-radius: 15px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}


.objections-table .spicy-datatable>tbody>tr>td:first-child {
  width: 7%;
}


.children {
  box-shadow: 0px 0px 8px 1px lightgrey;
  border-radius: 8px;
  padding: 18px;
  margin-top: 40px;
  margin-left: 20px
}

@media (max-width: 959px) {
  .children {
    margin-left: 0px !important;
  }
}


.MuiPickersDay-isSelected,
.MuiPickersToolbar-toolbar {
  background-color: #2ca01c !important;
}

.MuiButton-textPrimary {
  color: #2ca01c !important;
}


.MuiStepIcon-root.MuiStepIcon-active,
.MuiCircularProgress-colorPrimary,
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #2ca01c !important;
}


.ViewCasesPage .MuiTypography-subtitle1 {
  text-transform: capitalize;
}

.MuiButtonBase-root {
  outline: none !important
}


.MuiButton-contained.Mui-disabled {
  background-color: #2ca01c9c !important;
  color: white !important;
}

.deleteForm div {
  width: 20px !important;
  height: 20px !important;
  margin-bottom: -5px !important;
}

.deleteShred div {
  width: 20px !important;
  height: 20px !important;
  margin-bottom: -5px !important;
}

.translateBtn div {
  width: 20px !important;
  height: 20px !important;
  margin-bottom: -5px !important;
}



.terms .css-756s1x {
  width: 25px !important;
  height: 25px !important;
}

.objections table tr th:first-child {
  width: 250px;
}

.tox-edit-area__iframe {
  background-color: rgba(0, 0, 0, 0.09) !important;
  border-bottom: 2px solid #2ca01c !important;
}


/*
============== divider ============
*/


.divider {
  display: flex;
  flex-direction: row;
  width: 70%;
  text-transform: uppercase;
  border: none;
  font-size: 12px;
  font-weight: 500;
  margin: auto;
  padding-top: 24px;
}

.divider span {
  text-align: center;
  flex: 0.2 0 auto;
  margin: 0;
}


.divider:after,
.divider:before {
  content: "";
  border-bottom: 1px solid #c2c8d0;
  flex: 1 0 auto;
  height: 0.5em;
  margin: 0;
}

/* ins.diffins, ins.diffmod {
  background: #efe6ff;
  color: #673AB7;
  text-decoration: none;
}

del.diffdel, .diffmod {
  color: #673AB7;
}  */


.generate_document_editor {
  height: 72vh !important;  
}

@media (min-width: 1536px) {
  .generate_document_editor {
    height: 78vh !important;
  }
};

@media (max-width: 500px) {
  .generate_document_editor {
    height: 420px !important;
  } 
}

.e-de-toolbar.e-toolbar .e-toolbar-items, 
.e-de-ctnr-toolbar, 
.e-de-tlbr-wrapper,
.e-de-showhide-btn {
  height: 60px !important;
}

.e-toolbar .e-toolbar-item .e-tbar-btn .e-icons.e-btn-icon {
  font-size: 12px;
}

.e-de-toolbar.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
  font-size: 10px;
}

.MuiFormLabel-asterisk, .MuiInputLabel-asterisk {
  color: red !important;
  font-size: 16px !important;
}

.container_toolbar_break_listView {
  display: none !important;
}